.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfefd;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  padding: 0 4rem;
  align-items: center;

  &-logo {
    color: var(--orange-color);
  }

  &-menu {
    display: flex;
  }

  &-auth {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.auth-icon {
  height: 1.5rem !important;
  margin-right: 4px;
  font-size: var(--h3-font-size);
}

.logout-btn {
  font-size: var(--normal-font-size);
}

#logoutIcon {
  font-size: var(--h2-font-size);
}

a.auth-login {
  border: 1px solid var(--orange-color);
  background-color: transparent !important;
  color: var(--orange-color);

  &:hover {
    background-color: var(--orange-color) !important;
    color: #ffffff;
  }
}

a.auth-signup {
  background-color: var(--orange-color);
  color: #ffffff;

  &:hover {
    background-color: transparent !important;
    color: var(--orange-color);
  }
}

.active-link {
  color: var(--orange-color);
}

@media screen and (max-width: 1023px) {
  .nav {
    max-width: 800px;
    padding: 0;

    &-logo {
      opacity: 0;
    }
  }
}
