.nav {
  &-menu {
    display: flex;
  }
  &-list {
    display: flex;
  }

  &-item {
    margin-left: 2.5rem;
    text-decoration: none;
  }

  &-link {
    font-weight: 500;
    transition: 0.4s;

    &:hover {
      color: var(--orange-color);
    }
  }
}

.active-link {
  color: var(--orange-color);
}

@media screen and (max-width: 1023px) {
  .nav {
    &-menu {
      position: fixed;
      top: 0;
      transition: 0.3s ease;
      transform: translateX(-400px);
    }

    &-show-burger {
      transform: translateX(0px);
    }

    &-list {
      flex-direction: column;
      padding: 2rem 4rem;
    }

    &-item {
      list-style: none;
      padding: 12px 0;
    }
  }
}
