.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 4rem 2rem 10rem;
  height: 8rem;
  background-color: #f5f5f5;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-logo-img {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
  }
}

.header-form-controls {
  position: relative;
  display: flex;
  flex-direction: row;
}

.header-form-controls input {
  position: relative;
  width: 25rem;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: #888888;
}

.header-form-controls button {
  border: none;
  background-color: transparent;
  color: #888888;
  position: absolute;
  right: 0;
  bottom: -4px;
  padding: 0.5rem;
  cursor: pointer;
}

.header-search-icon {
  width: 1.4rem !important;
}

.header-button {
  position: relative;
  width: 3.5rem !important;
  padding: 0 !important;
  font-size: var(--normal-font-size);
}

.header-cart-btn {
  height: 2rem !important;
  width: 2rem !important;
  margin: 0.3rem 0.2rem;
  color: #ffffff !important;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 2rem 12rem 5rem 12rem;
    height: 10rem;
  }

  .header-form-controls {
    position: absolute;
    top: 6rem;
  }

  .header-form-controls input {
    width: 37rem;
  }
}
