.main-header {
  padding: 1rem 2rem;
  font-size: 2em;
}

.main-filter {
  position: relative;
  display: flex;
  margin: 0rem 2rem 1rem;
  width: 30%;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
}

.active > div {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  margin-top: 2px;
  background-color: #f46805;
}

.main-filter-link {
  position: relative;
  text-align: center;
  color: #f46805;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 2rem;
  gap: 25px;
  flex-wrap: wrap;
}
