.main {
  &-section {
    padding: 2rem 4rem 0rem 10rem;
  }
}

.main-header {
  margin-bottom: 0.5rem;
}

.main-filter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  list-style: none;
  font-size: var(--small-font-size);
  cursor: pointer;
}

.active > div {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  margin-top: 2px;
  background-color: var(--orange-color);
}

.main-filter-link {
  position: relative;
  text-align: center;
  color: var(--orange-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0 10rem;
  gap: 3rem;
}

@media screen and (max-width: 1250px) {
  .main-filter {
    width: 46%;
  }
}
@media screen and (max-width: 1068px) {
  .main {
    &-section {
      padding: 2rem 12rem 0rem 12rem;
    }
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-filter {
    width: 80%;
  }
}
