/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url(//db.onlinewebfonts.com/c/0e979bd4a3c1c6ac788ed57ac569667f?family=revicons);

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --orange-color: #f58742;
  --gray-bg-color: #f5f5f5;
  --gray-txt-color: #342f2f;
  --light-gray-txt-color: #524b4b;
  --orange-color-svg: invert(78%) sepia(30%) saturate(6841%) hue-rotate(332deg)
    brightness(101%) contrast(92%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  user-select: none;
  color: var(--gray-txt-color);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--orange-color);
    border-radius: 6px;
  }
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--gray-txt-color);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  padding: 5rem 0;
  height: 100vh;
}

.section-subtitle {
  color: var(--orange-color);
  font-size: var();
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.container {
  max-width: 980px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.general-btn {
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 1rem;
  border: 1px solid var(--orange-color);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-color);
  font-weight: 600;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow:hover {
  background-color: var(--orange-color);
}
.react-multiple-carousel__arrow--right {
  right: 0px;
}
.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow--left::before {
  right: 0px;
  transition: right 0.4s ease;
}

.react-multiple-carousel__arrow--right:hover::before {
  right: -3px;
}
.react-multiple-carousel__arrow--left:hover::before {
  right: 3px;
}

.react-multiple-carousel__arrow--left {
  left: 0px;
}

@media screen and (max-width: 1023px) {
  // .nav {
  //   max-width: 1000px;
  // }

  .container {
    max-width: 785px;
  }
}
